/* Write your CSS code here */
* {
  font-family: Roboto;
}
.blog {
  display: flex;
  flex-direction: column;
  padding: 18px;
}
.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 35px;
  margin-right: 5px;
}
.author {
  color: #000000;
}
.blog-image-url {
  width: 100%;
  border-radius: 8px;
  height: 250px;
}
.content {
  color: #2f4f4f;
  font-size: 16px;
}
